/*body {
  background-image: url('https://c1.staticflickr.com/9/8049/8141366831_88a884bdd1.jpg');
}*/

h3 {
  text-align: center;
}

.dropdown {
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}